body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 32px;
  margin: 16px;
  color: #fff !important;
}

.rct-item.Supervisor {
  background-color: #f38f60 !important;
}

.rct-item.Stacker {
  background-color: #bf8ef1 !important;
  color: #fff !important;
}

.rct-item.Checkouts {
  background-color: #f5ffa2 !important;
  color: #000 !important;
}

.rct-header-root {
  background-color: #001529 !important;
}

.ant-layout-content {
  min-height: 100vh;
}
